@import 'https://fonts.googleapis.com/css?family=Karla|Slackey|Sriracha';
body {
  background: radial-gradient(ellipse at center, #edffc1 0%, #e3d80c 100%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    background-color: rgba(255, 255, 255, 0.75);
    border: black 10px;
    border-style: double;
    margin: 10px 5%;
    padding: 25px;
}