@import 'https://fonts.googleapis.com/css?family=Karla|Slackey|Sriracha';
body {
  background: radial-gradient(ellipse at center, #edffc1 0%, #e3d80c 100%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.invitation {
    background-color: rgba(255, 255, 255, 0.5);
    border: black 10px;
    border-style: double;
}